body{
    background: rgb(99,175,208);
    background: linear-gradient(0deg, rgba(99,175,208,1) 0%, rgba(99,129,208,1) 100%);
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
header{
    background-color: #a66200;
    height: 100px;
    box-shadow: 0 0 20px #a66200;
    border-radius: 0 0 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header a{
    margin: 10px;
    padding: 5px;
    text-decoration: none;
    font-size: 26px;
    color: #3ba2d0;
}
header a:hover{
    background-color:  #63afd0;
    border-radius: 5px;
    box-shadow: 0 0 5px #3ba2d0;;
    
}
header a:visited{
    color: #3ba2d0;
}
.search form{
    text-align: center;
    margin: 10px;
}
.search form input[type=submit]{
    padding: 10px;
    height: 39px;
    width: 39px;
    background: none;
    border: none;
    background-image: url(../img/search.png);
    background-size: cover;
}
.search form input[type=text]{
    padding: 10px;
    width: 350px;
    border-radius: 20px;
    border: 1px solid #3ba2d0;
}
.book_list{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.book{
    width: 280px;
    border: 1px solid #a65800;
    margin: 8px;
    background-color: #ffBD73;
    border-radius: 25px;
    box-shadow: 0 0 3px  #a65800;
}
.book:hover{
    box-shadow: 0 0 10px  #a65800;
}
.book img{
    width: 250px;
    height: 250px;
    display: block;
    margin: 5px auto;
    border: 1px solid #a65800;
    box-shadow: 0 0 3px  #a65800;
    border-radius: 5px;
}
.book_bescription{
    border: 1px solid #a65800;
    padding: 5px;
    margin: 5px;
    background-color: #ffa540;
    border-radius: 5px;
    box-shadow: 0 0 3px  #a65800;
}
.book button{
    display: block;
    margin: 10px auto;
    border: 1px solid #63afd0;
    background-color: #3ba2d0;
    box-shadow: 0 0 3px  #3ba2d0;
    border-radius: 10px;
    height: 30px;
    width: 80px;
}
.book button:hover{
    background-color:#63afd0;
    box-shadow: 0 0 7px  #3ba2d0;
}
.book button a{
    text-decoration: none;
    color: #bf8530;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons button{
    border-radius: 10px;
    border: 1px solid #a65800;
    margin: 3px;
}
.buttons button:hover{
    box-shadow: 0 0 10px  #a65800;
}
footer{
    background-color: #a66200;
    height: 100px;
    box-shadow: 0 0 20px #a66200;
    border-radius: 20px 20px 0 0;
}
footer .contacts{
    font-size: 12px;
    padding-top: 10px;
}
footer .contacts p{
    margin:5px 15px;
}
@media(max-width:1200px){
    .book_list{
        max-width: 900px;
    }
}
